VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=kokopass-fdb47.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kokopass-fdb47
VITE_FIREBASE_STORAGE_BUCKET=kokopass-fdb47.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
VITE_FIREBASE_APP_ID=your-app-id
